@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

body {
	font-family: 'Source Sans Pro', Arial, sans-serif;
}

h1,
h2,
h3 {
	color: #2a457e;
}

.carousel-inner {
	width: 100%;
}

section {
	padding: 3rem 0;
}

section p {
	padding: 1.5rem 0;
}

.carousel-item {
	object-fit: cover;
	object-position: center;
	height: 45vh;
	overflow: hidden;
}

.rwd-table {
	background: #012061;
	color: #fff;
	border-radius: .4em;
	overflow: hidden;
}

#aboutImg {
	display: flex;
	justify-content: center;
	/* Center horizontally */
	align-items: center;
	/* Center vertically */
}

/* Animation styles */
@keyframes fadeInScaleUp {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* Animation styles */
#snackingtime {
	display: inline-block;
	transition: color 0.3s ease-out;
	font-size: 24px;
	color: #012061;
	/* Set the desired font size */
	font-family: 'Roboto', sans-serif;
	/* Use a playful font, change this to your preferred font */
	/* Adjust the transition duration as needed */
}

/* Change the color on hover */
#snackingtime:hover {
	color: #ff3c3c;
	font-weight: bold;
	/* Set the desired color for the sentence on hover */
}